* {
    font-family: sans-serif;
}

.logo {
    background-color: burlywood;
    text-align: center;
    padding: 1rem;
}

li {
    margin-top: 1rem;
}

.pic {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.desc-pic {
    max-width: 400px;
}

.animal-entry {
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.animal-entry a {
    color: inherit;
    text-decoration: none;
}