<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Greenfield Animal Shelter</title>
        <link rel="stylesheet" th:href="@{/stylesheets/styles.css}" href="../static/stylesheets/styles.css">
    </head>
    <body>
        <header class="logo">
            <h1>Greenfield Animal Shelter</h1>
        </header>
        <p>
            <a th:href="@{/}" href="#">Back to home page</a>
        </p>
        <section>
            <h2>Add an animal for adoption</h2>
            <form action="/save-animal" method="post" th:object="${animal}">
                <label>
                    <span>Name</span>
                    <input th:field="*{name}" type="text">
                </label>
                <label class="description">
                    <span>Description</span>
                    <textarea th:field="*{description}" rows="5"></textarea>
                </label>
                <label>
                    <span>Category</span>
                    <select th:field="*{category}" th:remove="all-but-first">
                        <option th:each="category: ${categories}"
                                th:text="${category.categoryNameEn}"
                                th:value="${category.categoryNameEn}">Test category 1</option>
                        <option>Test category 2</option>
                        <option>Test category 3</option>
                    </select>
                </label>
                <label>
                    <span>Photo link</span>
                    <input th:field="*{picture.fileName}" type="url">
                </label>
                <label>
                    <span>Photo alternative text</span>
                    <input th:field="*{picture.alt}" type="text">
                </label>
                <button type="submit">Add</button>
            </form>
        </section>
    </body>
</html>