<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${animal.name}">Test animal</title>
        <link rel="stylesheet" th:href="@{/stylesheets/styles.css}" href="../static/stylesheets/styles.css">
    </head>
    <body>
        <header class="logo">
            <h1>Greenfield Animal Shelter</h1>
        </header>
        <p>
            <a th:href="@{/}" href="#">Back to home page</a>
        </p>
        <h2 th:text="${animal.name}">Test animal</h2>
        <p th:text="${animal.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius
            dignissim nunc at blandit. Aenean feugiat viverra eleifend. Morbi sit amet augue sed ipsum commodo lacinia.
            Nam consequat lacus leo, ac
            rhoncus quam porta in. Suspendisse aliquet consectetur consectetur. Fusce quam est, sagittis nec augue id,
            laoreet luctus tellus. Fusce faucibus urna a enim tempus ultricies. Duis vel ligula massa. Morbi in velit
            eget tellus eleifend maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
            consequat metus ut gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Mauris tristique tincidunt arcu et scelerisque. </p>
    </body>
</html>