<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Greenfield Animal Shelter</title>
        <link rel="stylesheet" th:href="@{/stylesheets/styles.css}" href="../static/stylesheets/styles.css">
    </head>
    <body>
        <header class="logo">
            <h1>Greenfield Animal Shelter</h1>
        </header>
        <nav>
            Species
            <ul>
                <li>
                    <a th:href="@{/}"
                       href="#">All</a>
                </li>
                <li th:each="category: ${categories}">
                    <a th:text="${category.categoryNameEn}"
                       th:href="@{|/?category=${category.categoryNameEn}|}"
                       href="#">Test category</a>
                </li>
            </ul>
        </nav>
        <section>
            <h2 th:unless="${category}">Animals looking for home</h2>
            <h2 th:if="${category}" th:text="|${category.headerEn} looking for home|">Test category looking for home</h2>
            <div th:if="${animals}" th:remove="all-but-first">
                <div th:each="animal: ${animals}" th:object="${animal}" class="animal-entry">
                    <a th:href="@{|/animal?id=*{id}|}"  href="#">
                        <img class="pic"
                             th:src="@{|/images/*{picture.fileName}|}"
                             th:alt="*{picture.alt}"
                             alt="Test pic 1"
                             src="../static/images/lucky-pic.jpg">
                    </a>
                    <div>
                        <h3>
                            <a th:href="@{|/animal?id=*{id}|}" th:text="*{name}"  href="#">Test animal 1</a>
                        </h3>
                        <p>
                            <a th:href="@{|/animal?id=*{id}|}" th:text="*{getShortDesc()}"  href="#">
                                Test description in shortened version 1...
                            </a>
                        </p>
                    </div>
                </div>
                <div class="animal-entry">
                    <a href="#">
                        <img class="pic"
                             alt="Test pic 2"
                             src="../static/images/lucky-pic.jpg">
                    </a>
                    <div>
                        <h3>
                            <a href="#">Test animal 2</a>
                        </h3>
                        <p>
                            <a href="#">
                                Test description in shortened version 2...
                            </a>
                        </p>
                    </div>
                </div>

                <div class="animal-entry">
                    <a href="#">
                        <img class="pic"
                             alt="Test pic 3"
                             src="../static/images/lucky-pic.jpg">
                    </a>
                    <div>
                        <h3>
                            <a href="#">Test animal 3</a>
                        </h3>
                        <p>
                            <a href="#">
                                Test description in shortened version 3...
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <p th:unless="${animals ne null and !animals.isEmpty()}">Currently no animals of selected type are available</p>
        </section>
    </body>
</html>